<!DOCTYPE html>
<html lang="en-us" ng-app="sky">
<head>
	<meta charset="UTF-8" />
	<title>Sky API</title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/sky.css" />
</head>
<body ng-controller="mainCtrl">
	<h1>Sky API</h1>
	<img alt="img" src="/static/img/cloud.png" />
	<h1>Users / myAction2</h1>

	<?php echo count($data); ?>
	<ul>
		<li><?php echo $data['param1'] ?></li>
		<li><?php echo $data['param2'] ?></li>
	</ul>
	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
	
	<script type="text/javascript" src="/static/js/sky.js"></script>
</body>
</html>
